

header{
   display: flex;
    height: 70px;   
}

header div {
    background: red; min-height: 50px;
}

#container{
    min-height: 500px;
}
#logo, #footer-logo{
    font-family: 'Caveat', cursive;
    font-size: 28px;
    color: red;
}
#footer-logo{
/*    font-size: 24px;*/
    color: black;
}

footer{
    padding: 10px;
    background: #ccc;
}